.navbar {
    display: flex;
     background-color: white;
     opacity: 100%;
     border-bottom-style: solid;
     border-width: 1.5px;
}



body {
    margin: 0;
    background-color: #F4F4F4
}

.fa-instagram {
    color: black;
}


a {
	outline: none;
    text-decoration: none;
    color: black;
}
a:hover{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: black;
}

li {
    color: black;
    font-size: 20px;
    font-family: "Helvetica Neue, Arial, Helvetica, Verdana, sans-serif";
    padding: 30px 80px 30px 50px;
    letter-spacing: 3px;
}

.liststyle {
    display:flex;
    margin: 0;
    font-size: 0.7em;
    list-style: none;
    padding: 0;
}


.sticky {
    top: 0;
    position: fixed;
    width: 100%;
}

@media (min-width: 200px) and (max-width: 1000px) {
    li {
    color: black;
    font-size: 20px;
    font-family: "Helvetica Neue, Arial, Helvetica, Verdana, sans-serif";
    padding: 30px;
    letter-spacing: 0px;
    }
}


.titlediv {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
    border-width: 1.5px;
    padding: 40px;
}

.title {
    margin-bottom: 0px;
    font-family: "Helvetica Neue, Arial, Helvetica, Verdana, sans-serif";
    font-size: 120px;
    letter-spacing: 1px;
}

.jumbotron{
    display: flex;
    background-size: cover;
}

.jumbotron-billboard .img {
    color: #fff;
     background: #000 url("https://i.pinimg.com/originals/c1/cf/6d/c1cf6d575178d84528811aa80a5783fa.jpg")  center no-repeat;                                                                        
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    background-position: center;
    padding-bottom:150px;
   
}

.jumbotron {
  position:center;
  height: 60vh
}

.img {
    opacity: 0.8;
}

.box {
    background-color: white;
    padding: 130px;
    margin:30px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-top: 200px;
}


footer {
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	background-color: white;
	height: 8vh;
}

.emailtext {
	font-size: 20px;
}

.subscribe {
	margin-top:13px;
	margin-left:20px;
	}


.footertext {
	margin-top: 22px;
	font-size: 20px;
}
.bottom {
	padding:20px;
}

.content {
    text-align: center;
    padding: 10px;
}

.blogtext {
    letter-spacing: 2px;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}

.recent {
    text-align: center;
       font-size:30px;
    letter-spacing: 2px;
}



.blogimage {
      width:15vw;

    margin-bottom:10px;
}


